
<div class='container-md mx-auto devise-container '>

  <div class="field row col-11 mx-auto my-3 py-3 text-lighter">
<h1 class="py-2 text-center fw-bold">Edit <%= resource_name.to_s.humanize %></h1>
<div class='col-6'>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mb-3" %>
  </div>

      <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"mb-3" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br /><i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"mb-3" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"mb-3" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br /><i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"mb-3" %>
  </div>

  <div class="actions">
    <%= f.submit "Update my Account", class:"btn btn-join fs-3 fw-bolder mt-3 float-end" %>
  </div>
<% end %>
</div>
<div class='col-6'>

<div class='d-flex flex-column justify-content-center mt-5'>

<h3 class="mx-auto text-danger">Cancel my account</h3>
<p class="mx-auto">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name),  data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger mx-auto" %></p>
</div>


</div>
</div>
</div>