
<div class='container-md mx-auto devise-container '>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field row col-10 mx-auto my-3 py-3">
  <div class='col-6'>
    <%= f.label "#{:email} ➫" , class:"input_label" %>
    </div>
    <div class='col-6'>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input_field" %>
  </div>
  </div>

  <div class="field row col-10 mx-auto mb-3 py-3">
  <div class='col-6'>
    <%= f.label "#{:name} ➦" , class:"input_label"  %>
    </div>
    <div class='col-6'>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"input_field" %>
  </div>
  </div>

  <div class="field row col-10 mx-auto mb-3 py-3">
  <div class='col-6'>
    <%= f.label "#{:password} ➫" , class:"input_label"  %>
    </div>
    <div class='col-6'>
    <%= f.password_field :password, autocomplete: "new-password", class:"input_field" %>
  </div>
  </div>


  <div class="field row col-10 mx-auto mb-3 py-3">
  <div class='col-6'>
    <%= f.label "ConfirmPassword➦" , class:"input_label fs-3"  %>
    </div>
    <div class='col-6'>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input_field" %> 
     <div class="actions">
    <%= f.submit "REGISTER", class:"btn submit-btn mt-5" %>
  </div>
  </div>
  </div>



<% end %>


</div>