<div class='col-12 d-flex justify-content-between mb-3'>
<div class=''></div>
<h2 class="text-center">Event's that created by <%= @user.name %></h2>
<%= link_to 'Back to MainPage', events_path, class:"btn btn-secondary text-white" %>
</div>
<div class="container-flex mb-5">

<% if @user.events.empty? %>
<h4> <%= @user.name %> not created any event yet! </h4>
<% else %>
<div class="row row-cols-4 g-4">
<% @user.events.each do |event| %>
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <p><%= event.attendees.count %> people coming!</p>
          <h4 class="text-dark"><%= link_to event.title, event_path(event.id), class:"text-dark text-decoration-none" %></h4>  
          <%= event.location %>
        </div>
        <div class="card-body">
          <%= event.description %>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <p class="fs-6 text-dark">Created By: <%= event.user.email %></p>
          <p class="fs-6 text-dark">Event Date: <%= event.date %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

    <% end %>

</div>
<% x = 1 %>

<div class="container-flex">
<div class="row">

<div class="col-6">
<h2 class="text-center mt-4 mb-2">Event's that <%= @user.name %> will attend</h2>
<div class="accordion" id="accordionExample">
<% @user.attendees.each do |event| %>
<%= next if event.event.date < Date.today %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading<%= x %>">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= x %>" aria-expanded="true" aria-controls="collapse<%= x %>">
        <%= event.event.title %> 
      </button>
    </h2>
    <div id="collapse<%= x %>" class="accordion-collapse collapse" aria-labelledby="heading<%= x %>" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <div class="card">
        <div class="card-header d-flex justify-content-between">
          <p><%= event.event.attendees.count %> people coming!</p>
          <h4 class="text-dark"><%= link_to event.event.title, event_path(event.event.id), class:"text-dark text-decoration-none" %></h4>
          <%= event.event.location %>
        </div>
        <div class="card-body">
          <%= event.event.description %>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <p class="fs-6 text-dark">Created By: <%= event.event.user.email %></p>
          <p class="fs-6 text-dark">Event Date: <%= event.event.date %></p>
        </div>
      </div>
          <% x += 1 %>

      </div>
        
    </div>
  </div>
 <% end %>
</div>
</div>

<div class="col-6">
<h2 class="text-center mt-4 mb-2">Event's that <%= @user.name %> attended in the past</h2>
<div class="accordion" id="accordionExample">
<% @user.attendees.each do |event| %>
<%= next if event.event.date >= Date.today %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading<%= x %>">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= x %>" aria-expanded="true" aria-controls="collapse<%= x %>">
        <%= event.event.title %> 
      </button>
    </h2>
    <div id="collapse<%= x %>" class="accordion-collapse collapse" aria-labelledby="heading<%= x %>" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <div class="card">
        <div class="card-header d-flex justify-content-between">
          <p><%= event.event.attendees.count %> people coming!</p>
          <h4 class="text-dark"><%= link_to event.event.title, event_path(event.event.id), class:"text-dark text-decoration-none" %></h4>
          <%= event.event.location %>
        </div>
        <div class="card-body">
          <%= event.event.description %>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <p class="fs-6 text-dark">Created By: <%= event.event.user.email %></p>
          <p class="fs-6 text-dark">Event Date: <%= event.event.date %></p>
        </div>
      </div>
          <% x += 1 %>

      </div>
        
    </div>
  </div>
 <% end %>


</div>
</div>

</div>

</div>
