<div id='first'>

  </div>
<div class="neon-wrapper">
     <div class="neon-text">BRAVE <br> NEW <br> EVENTS</div>
</div>

<div id="second">
<div class='container-sm py-5'>

<p class="neon-button mx-auto mt-4 text-break">LATEST CREATED</p></div>

<div class="container pb-5 mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators colortries mx-auto" style="width: fit-content;">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% @events.each do |event| %>
        <% if event == @events.first %>
        <%= render 'carousel' %>
          <% else %>
            <div class="carousel-item">
            <% end %>
            <div class="card colortries">
              <div class="card-header d-flex justify-content-between py-3">
                <p class=""><%= event.attendees.count %> people coming!</p>
                <%= link_to event.title, event_path(event.id), class:"fs-4 text-decoration-none text-center title-text" %>
                <p class="">Location: <%= event.location %></p>
              </div>
              <div class="card-body py-5">
                <div class='row d-flex justify-content-center'>
                  <div class='col-8 text-center'>
                    <%= event.description %>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3">
                <div class="row py-4">

                  <div class="progress gx-0" style="height: 3vh;">
                    <div class="progress-bar progbar <%= 'd-none' if event.attendees.count.zero? %>" role="progressbar" style="width: calc(100% / <%= event.attend_limit.to_f / event.attendees.count.to_f %>);" aria-valuenow="<%= 100 / (event.attend_limit.to_f / event.attendees.count.to_f) %>" aria-valuemin="0" aria-valuemax="100"><%= event.attendees.count %> / <%= event.attend_limit %> Person</div>
                  </div>

                </div>
                <div class="row py-3">
                  <div class='d-flex justify-content-between '>
                    <p class="fs-6 ">Created By: <%= link_to event.user.name, user_path(event.user), class:"text-decoration-none text-white" %></p>
                    <p class="fs-6 ">Event Date: <%= event.date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>


<div id="third">
<div class='container-sm pt-5'>

<p class="neon-button mx-auto mt-4 text-break">MOST POPULAR</p></div>
<div class="container pb-5 pt-3 mb-2">
  <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators colortries mx-auto" style="width: fit-content;">
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% @most_popular.each do |event| %>
        <% if  event == @most_popular.first %>
        <%= render 'carousel' %>
          <% else %>
            <div class="carousel-item">
            <% end %>
            <div class="card colortries">
              <div class="card-header d-flex justify-content-between py-3">
                <p class=""><%= event.attendees.count %> people coming!</p>
                <%= link_to event.title, event_path(event.id), class:"fs-4 text-decoration-none text-center title-text" %>
                <p class="">Location: <%= event.location %></p>
              </div>
              <div class="card-body py-5">
                <div class='row d-flex justify-content-center'>
                  <div class='col-8 text-center'>
                    <%= event.description %>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3">
                <div class="row py-4">

                  <div class="progress gx-0" style="height: 3vh;">
                    <div class="progress-bar progbar <%= 'd-none' if event.attendees.count.zero? %>" role="progressbar" style="width: calc(100% / <%= event.attend_limit.to_f / event.attendees.count.to_f %>);" aria-valuenow="<%= 100 / (event.attend_limit.to_f / event.attendees.count.to_f) %>" aria-valuemin="0" aria-valuemax="100"><%= event.attendees.count %> / <%= event.attend_limit %> Person</div>
                  </div>

                </div>
                <div class="row py-3">
                  <div class='d-flex justify-content-between '>
                    <p class="fs-6 ">Created By: <%= link_to event.user.name, user_path(event.user), class:"text-decoration-none text-white" %></p>
                    <p class="fs-6 ">Event Date: <%= event.date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>


<div id="fourth">
<div class='container-sm py-5'>

<p class="neon-button mx-auto mt-2 text-break">CLOSEST EVENTS</p></div>
<div class="container pb-3">
  <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators colortries mx-auto" style="width: fit-content;">
      <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% @soon.each do |event| %>
        <% if  event == @soon.first %>
        <%= render 'carousel' %>
          <% else %>
            <div class="carousel-item">
            <% end %>
            <div class="card colortries">
              <div class="card-header d-flex justify-content-between py-3">
                <p class=""><%= event.attendees.count %> people coming!</p>
                <%= link_to event.title, event_path(event.id), class:"fs-4 text-decoration-none text-center title-text" %>
                <p class="">Location: <%= event.location %></p>
              </div>
              <div class="card-body py-5">
                <div class='row d-flex justify-content-center'>
                  <div class='col-8 text-center'>
                    <%= event.description %>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3">
                <div class="row py-4">

                  <div class="progress gx-0" style="height: 3vh;">
                    <div class="progress-bar progbar <%= 'd-none' if event.attendees.count.zero? %>" role="progressbar" style="width: calc(100% / <%= event.attend_limit.to_f / event.attendees.count.to_f %>);" aria-valuenow="<%= 100 / (event.attend_limit.to_f / event.attendees.count.to_f) %>" aria-valuemin="0" aria-valuemax="100"><%= event.attendees.count %> / <%= event.attend_limit %> Person</div>
                  </div>

                </div>
                <div class="row py-3">
                  <div class='d-flex justify-content-between '>
                    <p class="fs-6 ">Created By: <%= link_to event.user.name, user_path(event.user), class:"text-decoration-none text-white" %></p>
                    <p class="fs-6 ">Event Date: <%= event.date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>



<div id="fifth">
<div class='container-sm pt-5 mt-5'>

<p class="neon-button mx-auto my-4 text-break">ALMOST FULL</p></div>
<div class="container pb-5">
  <div id="carouselExampleIndicators4" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators colortries mx-auto" style="width: fit-content;">
      <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
     <% @almost_full.each do |event| %>
        <% if  event == @almost_full.first %>
        <%= render 'carousel' %>
          <% else %>
            <div class="carousel-item">
            <% end %>
            <div class="card colortries">
              <div class="card-header d-flex justify-content-between py-3">
                <p class=""><%= event.attendees.count %> people coming!</p>
                <%= link_to event.title, event_path(event.id), class:"fs-4 text-decoration-none text-center title-text" %>
                <p class="">Location: <%= event.location %></p>
              </div>
              <div class="card-body py-5">
                <div class='row d-flex justify-content-center'>
                  <div class='col-8 text-center'>
                    <%= event.description %>
                  </div>
                </div>
              </div>
              <div class="card-footer py-3">
                <div class="row py-4">

                  <div class="progress gx-0" style="height: 3vh;">
                    <div class="progress-bar progbar <%= 'd-none' if event.attendees.count.zero? %>" role="progressbar" style="width: calc(100% / <%= event.attend_limit.to_f / event.attendees.count.to_f %>);" aria-valuenow="<%= 100 / (event.attend_limit.to_f / event.attendees.count.to_f) %>" aria-valuemin="0" aria-valuemax="100"><%= event.attendees.count %> / <%= event.attend_limit %> Person</div>
                  </div>

                </div>
                <div class="row py-3">
                  <div class='d-flex justify-content-between '>
                    <p class="fs-6 ">Created By: <%= link_to event.user.name, user_path(event.user), class:"text-decoration-none text-white" %></p>
                    <p class="fs-6 ">Event Date: <%= event.date %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>
  <footer class="footer mt-auto py-5 footer-bg">

</footer>