<p id="notice"><%= notice %></p>

<p class="fw-bold fs-4"><%= @attendee_count %> people coming to this event</p>

<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    See all Attendents
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
  <% @attendee_list.each do |a| %>
    <li class="dropdown-item" type="button"><%= link_to a.user.name, user_path(a.user), class:"text-decoration-none" %></li>
    <% end %>
  </ul>
</div>

<div class='row mb-3'>
  <div class="col">
    <div class="card"> 
    <div class="card-header">
    <p class="fs-4 text-dark text-center"><%= @event.title %></p>
      <p class="text-end"><%= @event.location %></p>
    </div>
      <div class="card-body">
            <%= @event.description %>
            </div>
            <div class="card-footer d-flex justify-content-between">
         <p>Created By: <%= link_to @event.user.name, user_path(@event.user) %></p>
         <p>Event Date: <%= @event.date %></p>
            </div>
</div>
</div>
</div>

<% if @event.user != current_user %>
<% case @will_join %>
<% when true %>
<% when false %>
 
<% end %>
<% else %>
<% end %>


<%= link_to 'Back to MainPage', events_path, class:"btn btn-secondary text-white" %>
