<!DOCTYPE html>
<html>
  <head>
    <title>BraveNewEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"btn btn-lg btn-danger text-white" %>
  <%= link_to 'New Event', new_event_path, class:"btn btn-lg btn-success text-white" %>
  <%= link_to 'My profile', user_path(current_user), class:'btn btn-lg btn-primary text-white' %>
  <% else %>
  <%= link_to 'Register', new_user_registration_path, class:"btn btn-lg btn-success text-white" %>
  <%= link_to 'Login', new_user_session_path, class:"btn btn-lg btn-primary text-white" %>
  <%= link_to 'Main Page', root_path , class:'btn btn-lg btn-secondary text-white' %>
  <% end %>
  
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
